{% extends "base.html" %}
{% block title %}Dashboard — La Cevichoza{% endblock %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="h4 mb-2">Dashboard La Cevichoza</h1>

    <p class="text-muted mb-3">
      Usa el menú para gestionar productos, categorías, clientes, usuarios y ver reportes.
    </p>
    <div class="text-center my-4">
      <img
        src="https://raw.githubusercontent.com/xmithie/LaCevichoza-POS/refs/heads/main/app/la_cevichoza_logo.png"
        alt="Logo La Cevichoza"
        class="img-fluid"
        style="max-width: 420px; height: auto;"
      >
</div>
{% endblock %}